.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.online {
  background-color: green;
}
.offline {
  background-color: red;
}
